<!doctype html>
<html lang="en">

<head>

  <!-- Webpage Title -->
  <title>회원가입 페이지</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- main.css -->
  <link rel="stylesheet" type="text/css" href="static/register.css">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>
    // 간단한 회원가입 함수입니다.
    // 아이디, 비밀번호, 닉네임을 받아 DB에 저장합니다.
    function register() {
      $.ajax({
        type: "POST",
        url: "/api/register",
        data: {
          id_give: $('#userid').val(),
          pw_give: $('#userpw').val(),
          nickname_give: $('#usernick').val(),
          name_give: $('#username').val(),
          laptop_os_give: 0,
          laptop_give: 0,
          cellphone_os_give: 0,
          cellphone_give: 0,
          keyboard_give: 0,
          mouse_give: 0
        },
        success: function (response) {
          if (response['result'] == 'success') {
            alert('회원가입이 완료되었습니다.')
            window.location.href = '/login'
          } else {
            alert(response['msg'])
          }
        }
      })
    }

  </script>
</head>

<body>
  <div class="wrap">
    <div class="main-head">
      <header class="navbar navbar-expand-lg navbar-dark bd-navbar sticky-top">
        <a class="navbar-brand">정글인의 책상</a>
      </header>
    </div>
    <div class="jumbotron">
      <div class="form-group">
        <label for="userid">ID</label>
        <input type="text" class="form-control" id="userid" placeholder="아이디를 입력해주세요.">
      </div>
      <div class="form-group">
        <label for="userpw">PW</label>
        <input type="password" class="form-control" id="userpw" placeholder="비밀번호를 입력해주세요.">
      </div>
      <div class="form-group">
        <label for="userpw">NAME</label>
        <input type="text" class="form-control" id="username" placeholder="본명을 입력해주세요.">
      </div>
      <div class="form-group">
        <label for="userpw">NICKNAME</label>
        <input type="text" class="form-control" id="usernick" placeholder="별명을 입력해주세요.">
      </div>
      <button class="regi-button" onclick="register()">회원가입</button>
    </div>
  </div>
</body>

</html>